
@mixin small {
  @media (max-width: 385px) {
    position: relative;
  }
}

@mixin large {
  @media (min-width: 992px) {
    margin-bottom: 2rem;
  }
}

@mixin color-large-menu {
  @media (min-width: 992px) {
    background-color: transparent;
    box-shadow: none;
  }
}

@mixin small {
  @media (max-width: 385px) {
    // position: relative;
    background-color: rgb(48, 21, 21);
  }
}
